/* Custom variables */
:root {
  /* colors */
  --clr-darker-blue: 217, 19%, 35%;
  --clr-dark-blue: 214, 17%, 51%;
  --clr-light-blue: 212, 23%, 69%;
  --clr-fade-blue: 210, 46%, 95%;
  --clr-white: 0 0% 100%;

  /* font family */
  --ff-sans-serif: "Manrope", sans-serif;

  /* Font Size */
  --fs-body: 0.82rem;

  /* Font weights */
  --fw-500: 500;
  --fw-700: 700;
}

/*``````````````````````````````
    Reset CSS
 ```````````````````````````` */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background: hsl(var(--clr-fade-blue));
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

/* Utility Classes */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hidden {
  display: none !important;
}

/* component css */

.main {
  height: 100vh;
  padding: 1.5rem;
  background: hsl(var(--clr-fade-blue));
}

.card {
  max-width: 700px;
  border-radius: 15px;
  background: hsl(var(--clr-white));
  overflow: hidden;
}
.image {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
}

.image img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  height: 10.625rem;
  /* max-height: 17.5rem; */
}

.content {
  gap: 1rem;
  padding-block: 2rem 1rem;
}

.title {
  color: hsl(var(--clr-darker-blue));
  font-family: var(--ff-sans-serif);
  font-weight: var(--fw-700);
  padding-inline: 2rem;
  font-size: 0.9rem;
  line-height: 1.3;
}

.text {
  color: hsl(var(--clr-dark-blue));
  font-weight: var(--fw-500);
  font-family: inherit;
  font-size: 0.83rem;
  padding-inline: 2rem;
  line-height: 1.5;
}

.bottom {
  padding-inline: 2rem;
}

.share-bar {
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.left {
  gap: 0.75rem;
}

.avatar {
  height: 35px;
  width: 35px;
}

.avatar,
.avatar img,
.share-icon {
  border-radius: 50%;
}

.author {
  gap: 0.2rem;
}

.author .name {
  font-weight: var(--fw-700);
  font-size: 13px;
  color: hsl(var(--clr-darker-blue));
}

.author .date {
  color: hsl(var(--clr-light-blue));
  font-size: 12px;
}

.share-icon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(var(--clr-fade-blue));
}

.share-bar-active {
  background: hsl(var(--clr-darker-blue));
  visibility: hidden;
  color: hsl(var(--clr-white));
  justify-content: space-between;
  inset: 0;
  width: 100%;
  padding: 2rem;
  border-radius: 0 0 15px 15px;
  transform: translate(0, 100px);
}

.share-bar-active .share-icon {
  background: hsl(var(--clr-light-blue));
}

.icons {
  gap: 0.8rem;
}

.left span {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 200;
  color: hsl(var(--clr-light-blue));
  font-size: var(--fs-body);
  font-family: var(--ff-sans-serif);
}
.popover {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: -60px;
  transform: translate(0, 10px);
  background: hsl(var(--clr-darker-blue));
  padding-block: 0.75rem;
  padding-inline: 2rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
  border-radius: 10px;
}
.popover::before {
  position: absolute;
  z-index: -1;
  content: "";
  right: calc(50% - 15px);
  bottom: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid hsl(var(--clr-darker-blue));
  transition-duration: 0.3s;
  transition-property: transform;
}

#white {
  visibility: hidden;
  position: absolute;
  right: 2rem;
  background: hsl(var(--clr-dark-blue));
}

@media only screen and (min-width: 980px) {
  .main {
    padding: 10rem;
  }
  .card {
    flex-direction: row;
    overflow: visible !important;
  }
  .content {
    padding-block: 2rem;
  }

  .title {
    font-size: 1.25rem;
  }

  .text {
    line-height: 1.3;
    font-size: var(--fs-body);
  }

  .image,
  .image img {
    border-radius: 15px 0 0 15px;
    min-height: 17.5rem;
  }

  .share-bar-active {
    visibility: hidden !important;
  }

  .popover-big {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -100px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
}
